# version control
engine-strict=true
package-manager-strict=true

# dependencies
save-exact=true
frozen-lockfile=true
strict-peer-dependencies=true
auto-install-peers=true

# security
audit=true
audit-level=critical

# pnpm
node-linker=hoisted
hoist=false

# workspaces
prefer-workspace-packages=true
shared-workspace-lockfile=true
prefer-workspace-packages=true

# performance
prefer-offline=true
